# Iteradores

In [7]:
## Filter

def es_par(n):
    return n%2 == 0

In [4]:
numeros = list(range(30))
print(numeros)

#range es un iterador. aqui se esta creando una lista del 0 al 29.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [8]:
#filter(funcion, lista)

filter(es_par, numeros)

In [9]:
print(list)  # lo que devuelve es una clase list

<class 'list'>

In [10]:
print(range(0,10))  # aqui solo me tira esto, para que imprima la lista tengo que
#pornerle list(print(range)) antes

range(0, 10)

In [12]:
[i for i in numeros if es_par(i)] #esto es la manera mas sencilla de ponerlo
#aqui tira el resultado de una.

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [16]:
def cuadrado(n): return n**2   #es una funcion en una sola linea

In [17]:
cuadrado(2)

4

In [18]:
lambda n: n**2

In [19]:
cuadrado

In [20]:
print(list(map(lambda x: x**2, numeros)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841]

In [24]:
num = [1, 2, 3, 4]
num2 = [4, 5, 6, 7]

# lambda x, y: x+ y, num, num2  

# (x + y) es lo que yo deseo hacer con esa funcion
# (num y num2 se pasan como parametros)

list(map(lambda x, y: x+y**2, num, num2))

[17, 27, 39, 53]