# Ejericio Clases con Datos

Para este ejercicio vamos a utilizar los datos en el archivo "nfl-suspensions-data.csv" para analizar la violencia doméstica causada por los jugadores de la NFL.

In [16]:
#Imports
import csv

In [17]:
dir_dataset = "Python-Cenfotec-oct2018/Materiales/Lecciones/L4/Ejercicios/datasets/nfl-suspensions-data.csv"

def read_csv(file):
    with open(file, "r") as f:
        reader = csv.reader(f)
        raw_data = list(reader)
        headers = raw_data[0]
        data = raw_data[1:]
    return((headers, data))

headers,raw_data = read_csv(dir_dataset)

In [18]:
headers

['name', 'team', 'games', 'category', 'desc.', 'year', 'source']

In [19]:
raw_data[:5]

[['F. Davis',
  'WAS',
  'Indef.',
  'Substance abuse, repeated offense',
  'Marijuana-related',
  '2014',
  'http://www.cbssports.com/nfl/eye-on-football/24448694/redskins-te-fred-davis-suspended-Indefiniteinitely-by-nfl'],
 ['J. Blackmon',
  'JAX',
  'Indef.',
  'Substance abuse, repeated offense',
  '',
  '2014',
  'http://espn.go.com/nfl/story/_/id/11257934/justin-blackmon-jacksonville-jaguars-arrested-marijuana-possession'],
 ['L. Brazill',
  'IND',
  'Indef.',
  'Substance abuse, repeated offense',
  '',
  '2014',
  'http://www.nfl.com/news/story/0ap2000000364622/article/lavon-brazill-released-by-colts-in-wake-of-suspension'],
 ['T. Jackson',
  'WAS',
  'Indef.',
  'Substance abuse, repeated offense',
  '',
  '2014',
  'http://www.nfl.com/news/story/0ap2000000364087/article/tanard-jackson-suspended-Indefiniteinitely-by-nfl'],
 ['M. Hapes',
  'NYG',
  'Indef.',
  'Personal conduct',
  'Gambling-related',
  '1946',
  'http://espn.go.com/blog/nflnation/tag/_/name/frank-filchock']]

#### Contar cuántas veces se encuentra un año en los datos

In [20]:
yrs = {}
for row in raw_data:
    row_yr = row[5]
    if row_yr in yrs:
        yrs[row_yr]+=1
    else:
        yrs[row_yr]=1

In [22]:
yrs

{'   ': 1,
 '1946': 1,
 '1947': 1,
 '1963': 1,
 '1983': 1,
 '1986': 1,
 '1989': 17,
 '1990': 3,
 '1993': 1,
 '1994': 1,
 '1995': 1,
 '1997': 3,
 '1998': 2,
 '1999': 5,
 '2000': 1,
 '2001': 3,
 '2002': 7,
 '2003': 9,
 '2004': 6,
 '2005': 8,
 '2006': 11,
 '2007': 17,
 '2008': 10,
 '2009': 10,
 '2010': 21,
 '2011': 13,
 '2012': 45,
 '2013': 40,
 '2014': 29}

#### Sacar una lista de equipos únicos en los datos

In [23]:
teams = [row[1] for row in raw_data]
unique_teams = set(teams)
unique_teams

{'ARI',
 'ATL',
 'BAL',
 'BUF',
 'CAR',
 'CHI',
 'CIN',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'FREE',
 'GB',
 'HOU',
 'IND',
 'JAX',
 'KC',
 'LA',
 'MIA',
 'MIN',
 'NE',
 'NO',
 'NYG',
 'NYJ',
 'OAK',
 'PHI',
 'PIT',
 'SD',
 'SEA',
 'SF',
 'STL',
 'TB',
 'TEN',
 'WAS'}

#### Sacar una lista de partidos únicos en los datos

In [24]:
games = [row[1] for row in raw_data]
unique_games = set(games)

In [25]:
unique_games

{'ARI',
 'ATL',
 'BAL',
 'BUF',
 'CAR',
 'CHI',
 'CIN',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'FREE',
 'GB',
 'HOU',
 'IND',
 'JAX',
 'KC',
 'LA',
 'MIA',
 'MIN',
 'NE',
 'NO',
 'NYG',
 'NYJ',
 'OAK',
 'PHI',
 'PIT',
 'SD',
 'SEA',
 'SF',
 'STL',
 'TB',
 'TEN',
 'WAS'}

#### Vamos a crear una clase de suspenciones

In [30]:
class Suspension():
    def __init__(self, row):
        self.name = row[0]
        self.team = row[1]
        self.games = row[2]
        self.year  = row[5]
tercera = Suspension(raw_data[2])
tercera

In [29]:
tercera.team

'IND'

In [31]:
del(Suspension)
class Suspension():
    def __init__(self, row):
        self.name = row[0]
        self.team = row[1]
        self.games = row[2]
        try:
            self.year  = int(row[5])
        except Exception:
            self.year = 0
    
    def get_year(self):
        return(self.year)

In [32]:
sin_ano = Suspension(raw_data[22])
ano_22 = sin_ano.get_year()

In [33]:
ano_22

0