# Funciones útiles

Existen una serie de funciones bastante útiles para trabajar con data types que no hemos visto pero que pueden ser muy apropiadas para el primero proyecto del curso.

# Enumerate

Que pasaría si quisieramos imprimir los indices en un loop? Por ejemplo para imprimir la lista con un numero adelante

1. Andres
2. Felipe
3. Carlos
4. Juan
..etc

In [2]:
#Podríamos hacer un loop para imprimir los nombres
nombres = ["Andres", "Felipe","Juan","Pablo","Jonathan"]
for nombre in nombres:
    print(nombre)

Andres
Felipe
Juan
Pablo
Jonathan

In [3]:
# Para incluir el número podríamos sumar a un contador cada vez que terminamos una vuelta del loop
n = 1
for nombre in nombres:
    print("{n}.{nombre}".format(n=n,nombre=nombre))
    n+=1

1.Andres
2.Felipe
3.Juan
4.Pablo
5.Jonathan

In [4]:
# O podríamos hacer el loop por medio de range en lugar de la iteración sobre la lista
for i in range(len(nombres)):
    print("{n}.{nombre}".format(n=i+1,nombre=nombres[i]))

1.Andres
2.Felipe
3.Juan
4.Pablo
5.Jonathan

In [8]:
#Sin embargo, también podemos usar la función enumerate que me devuelve un iterador 
enumerate(nombres)

In [9]:
#Esto quiere decir que puedo iterar sobre el resultado y me va a devolver una respuesta que en este caso es una lista 
# de tuples con el valor del índice y del valor en cada campo
list(enumerate(nombres))

[(0, 'Andres'), (1, 'Felipe'), (2, 'Juan'), (3, 'Pablo'), (4, 'Jonathan')]

In [10]:
#Lo podemos utilizar en un loop para obtener el resiltado deseado
for index,value in enumerate(nombres):
    print("{n}.{nombre}".format(n=index+1,nombre=value))

1.Andres
2.Felipe
3.Juan
4.Pablo
5.Jonathan

# items()

Items me da algo parecido a Enumerate, pero en este caso me va a devolver los keys y los values del diccionario

In [11]:
data = {
    "nombre":"Andres",
    "apellido":"Masis",
    "edad":17,
}

In [12]:
for item in data:
    print(item)

nombre
apellido
edad

In [13]:
for item, value in enumerate(data):
    print(item, value)

0 nombre
1 apellido
2 edad

In [14]:
for item, value in data.items():
    print("{} | {}".format(item,value))

nombre | Andres
apellido | Masis
edad | 17

In [18]:
#Importaante, lo que devuelve es un objeto del tipo dict_items que no es indexable como una lista

items = data.items()
print(items)

dict_items([('nombre', 'Andres'), ('apellido', 'Masis'), ('edad', 17)])

In [19]:
items[0]

TypeError: 'dict_items' object does not support indexing

In [20]:
#Ni tampoco lo puedo accesar como un diccionario
items["nombre"]

TypeError: 'dict_items' object is not subscriptable

In [23]:
# Para poder accesarlo tengo que convertir el resultado en una lista
items = list(items)

In [24]:
items[0]

('nombre', 'Andres')

In [27]:
# Y puedo hacer "Tuple unpacking" para sacar el key y el value
key,value=items[0]

In [28]:
key

'nombre'

In [29]:
value

'Andres'

# zip

In [30]:
#cuando hago una lista en realidad me da una lista de tuples
list(enumerate("andres"))

[(0, 'a'), (1, 'n'), (2, 'd'), (3, 'r'), (4, 'e'), (5, 's')]

In [31]:
# Esta es una estructura muy comun en python, para crearlas se puede utilizar la funcion zip
lista_1 = ["Andres", "Felipe","Juan","Pablo","Jonathan"]
lista_2 = ["Masis", "Acuna","Perez","Salazar","Amon"]

In [32]:
zip(lista_1,lista_2)

In [33]:
list(zip(lista_1,lista_2))

[('Andres', 'Masis'),
 ('Felipe', 'Acuna'),
 ('Juan', 'Perez'),
 ('Pablo', 'Salazar'),
 ('Jonathan', 'Amon')]

In [34]:
for nombre, apellido in zip(lista_1,lista_2):
    print("El nombre es {} y su apellido {}".format(nombre,apellido))

El nombre es Andres y su apellido Masis
El nombre es Felipe y su apellido Acuna
El nombre es Juan y su apellido Perez
El nombre es Pablo y su apellido Salazar
El nombre es Jonathan y su apellido Amon

# in

In [35]:
"andres" in lista_1

False

In [36]:
"Andres" in lista_1

True

# Random

In [37]:
import random

In [38]:
# noten que esto cambia la lista original, se conoce como Inplace
random.shuffle(lista_1)

In [39]:
lista_1

['Juan', 'Pablo', 'Jonathan', 'Andres', 'Felipe']

In [40]:
random.randint(1,6)

4

In [56]:
for i in range(20):
    print(random.randint(1,100))

43
29
12
93
25
18
10
98
54
29
8
97
79
18
84
96
73
10
10
21

In [59]:
random.randrange(100)

0

In [61]:
for i in range(20):
    print(random.randrange(100))

98
22
82
6
69
44
89
75
88
20
71
19
66
15
40
96
98
80
9
83